# ********************
# Postgres
# ********************
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ********************
# SECRET KEYS
# ********************
ACCESS_SECRET_KEY=AxdbTQmW/abSjS3TpqhS2rHHUTtK8ESb0xq9uueSj34=
REFRESH_SECRET_KEY=fv0Q2PIP4I9oUhg1rYKqK2jHv4RFMDei